//	Style fixes for IE 8
.ie8, .ie {
form select,
form > select,
select,
#chooseFile select,
.dropdown > select,
.category > select,
.dropMenu select {
	background-image: none !important;
	background-color: #fff;
	padding: 5px;
	height: auto;
	}
}