<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/js/jstree/themes/default/style.min.css">
    <link href="/static/stylesheets/style.css" rel="stylesheet" type="text/css">

    <title>Content Hub</title>

</head>
<body>

<header>
    <section class="row headerContent">
        <div class="col-l12 headerGrid">
	        <a href="#" class="headerLogoLink"><img src="/static/images/intel-education-content-hub-header-logo.png" alt="Intel Education Content Hub"></a>
	        <ul class="navLinks">
	            <li class="helpHeadertext">Help Guide</li>
	        </ul><!-- end navLinks -->
        </div><!-- end 12 columns -->
    </section><!-- end row headerContent -->

</header>	

<section class="row mainContent">
    <div class="single col-l12">
        <section class="helpArea clearfix">

		<h1>How to use the Content Hub</h1>

		<h2>Content Management</h2> 
			<ul class="tocNested">
				<li><a href="#contentMan1">Uploading my own Content</a></li>
				<li><a href="#contentMan2">What are tags?</a></li>
			</ul><!-- end tocNested -->

		<h2>Lessons</h2>
		<ul class="tocNested">
			<li><a href="#lessons1">What are lessons?</a></li>
			<li><a href="#lessons2">How to create a lesson</a></li>
			<li><a href="#lessons3">How to add content to a lesson</a></li>
			<li><a href="#lessons4">How to edit a lesson name</a></li>
			<li><a href="#lessons5">How to delete content in a lesson</a></li>
			<li><a href="#lessons6">How to feature a lesson</a></li>
			<li><a href="#lessons7">How to delete a lesson</a></li>
		</ul><!-- end tocNested -->

		<h2>Library</h2>
		<ul class="tocNested">
			<li><a href="#library1">What is the Library?</a></li>
			<li><a href="#library2">What's the difference between Pre-loaded and Uploaded content?</a></li>
			<li><a href="#library3">How to edit content</a>
				<ul class="tocNested2">
					<li><a href="#library3">Feature content</a></li>
					<li><a href="#library4">Edit uploaded content details</a></li>
					<li><a href="#library5">Delete an uploaded content item</a></li>
					<li><a href="#library6">Add a content item to a lesson</a></li>
					<li><a href="#library7">Hide a content item from students</a></li>
					<li><a href="#library8">Download a content item</a></li>
					<li><a href="#library9">Batch deleting multiple content items</a></li>
					<li><a href="#library10">Batch adding multiple content items to a lesson</a></li>
				</ul><!-- end tocNested2 -->
			</li>
			<li><a href="#library11">Creating a lesson via the Create New Lesson box</a></li>
			<li><a href="#library12">Using the categories as filters</a></li>
			<li><a href="#library13">What is the tag cloud and how do I use it?</a></li>
		</ul><!-- end tocNested -->

		<h2>Teacher Settings</h2>
		<ul class="tocNested">
			<li><a href="#settings1">How to manage categories</a></li>
			<li><a href="#settings2">How to manage tags</a></li>
		</ul><!-- end tocNested -->

		<hr>

		<h2>Content Management</h2>
		<div class="howto" id="contentMan1">
			<h3><img src="/static/images/help-guide/upload-form.png" alt="Content Hub" class="imgBorder right spaceImgRight" />Uploading my own content</h3>
			<p>You can upload almost any file type &ndash; .jpg, .pdf, e-pub, Word document, Excel document, video, audio, html and more.</p>
			<p>In the Teacher Library page or the Teacher Home page click  the Upload Content button.</p>
			<p>You must first choose a file from your computer to upload. You can then enter a custom title, description and attach tags and categories. Entering all of this information correctly it will help you and your students to find the content more easily.</p>
		</div><!-- end howto contentMan1 -->

		<div class="howto" id="contentMan2">
			<h3>What are tags?</h3>
			<p>Tags are descriptive words the Content Hub uses to make searching for content easier. Tags such as "science", "lab-exercise", "juniorsv and "pdf" applied to content items will allow those content items to show up in searches for any of those terms. For this reason it's important to assign relevant descriptive tags to your content.</p>
			<img src="/static/images/help-guide/tags-area.png" alt="Content Hub" class="imgBorder spaceImgBottom" />
		</div><!-- end howto contentMan2-->


		<h2>Lessons</h2>
		<div class="howto" id="lessons1">
			<h3><img src="/static/images/help-guide/lesson.png" alt="Content Hub" class="imgBorder right spaceImgRight imgSmall" />What are lessons?</h3>
			<p>Lessons are collections of educational content that you create for your students. The Lessons page is where you can view and manage the lessons you have created. On this page you can also create a new lesson, feature a lesson, delete one or multiple lessons and edit the lesson names.</p>
		</div><!-- end howto lessons1 -->

		<div class="howto" id="lessons2">
			<h3>How to create a lesson</h3>
			<h4>On the Lessons page</h4>
			<p>Click on the Create a New Lesson button. A pop-up will open that allows you to name the new lesson. Click  Create Lesson. Text should appear at the top of the screen confirming "Lesson created". Now you can fill the new lesson with content.</p>
			<img src="/static/images/help-guide/create-lesson-on-list-page.png" alt="Content Hub" class="imgBorder spaceImgBottom" />
			<h4>On the Library page</h4>
			<p>Click the button in the 'Create a New Lesson' box on the left of the screen.  A popup will open in which you will name your new lesson and click "create lesson". The 'Create a New Lesson' box should now have the name of your lesson as the title and expand. You can now choose, drag and drop content from the Preloaded Content and My Uploaded Content on the right of the page into the box.</p>
			<img src="/static/images/help-guide/create-lesson-on-library-page.png" alt="Content Hub" class="imgBorder spaceImgBottom" />
		</div><!-- end howto lessons2 -->

		<div class="howto" id="lessons3">
			<h3><img src="/static/images/help-guide/lesson-drawer.png" alt="Content Hub" class="imgBorder spaceImgRight right imgSmall" />How to add content to a lesson</h3>
			<p>Once a lesson has been created  you can add content to it. On the Teacher Library page, select and drag a content item into the lesson box to add it to that lesson. Or use the buttons at the end of every content listing. Click "Add To Lesson" on individual content items or tick the check box on multiple content items and click the "Add to Lesson" button at the top of the page.</p>

		</div><!-- end howto lessons3 -->

		<div class="howto" id="lessons4">
			<h3>How to edit a lesson name</h3>
			<p>You can edit the name of a lesson using the options button underneath each lesson icon on the Teacher Lessons page. Choose 'Edit Lesson Name' from the dropdown menu.</p>
			<img src="/static/images/help-guide/edit-lesson-title.png" alt="Content Hub" class="imgBorder spaceImgBottom" />
		</div><!-- end howto lessons4 -->

		<div class="howto" id="lessons5">
			<h3>How to delete conent in a lesson</h3>
			<p>In the Teacher Lessons page click on the lesson you wish to edit. This will open the Lesson Details page. Click on the options button on an individual content item and choose "Delete This Item" from the dropdown menu. Or click on the checkboxes at the end of each content item listing and use the "Remove" button at the top of the page to batch delete content items.</p>
			<img src="/static/images/help-guide/remove-from-lesson.png" alt="Content Hub" class="imgBorder spaceImgBottom" />
		</div><!-- end howto lessons5 -->

		<div class="howto" id="lessons6">
			<h3>How to feature a lesson</h3>
			<p>On the Teacher Lessons page, click on the star button under any lesson you wish to feature. The featured lesson should now appear on the Home page under Featured Lessons. To unfeature the lesson, click on the star icon again. It should return to a default grey colour and the lesson should disappear from the Featured Lessons area.</p>
			<img src="/static/images/help-guide/how-to-feature-lesson.png" alt="Content Hub" class="imgBorder spaceImgBottom" />
		</div><!-- end howto lessons6 -->

		<div class="howto" id="lessons7">
			<h3>How to delete a lesson</h3>
			<p>On the Teacher Lessons page, click on the options button under the lesson you wish to delete. Choose Delete This Lesson from the dropdown menu.</p>
			<p>Alternately, tick the checkbox under any lesson you wish to delete and use the Delete button at the top of the Lessons section to batch delete multiples lessons.</p>
			<img src="/static/images/help-guide/delete-a-lesson.png" alt="Content Hub" class="imgBorder spaceImgBottom" />
		</div><!-- end howto lessons7 -->


		<h2>Library</h2>

		<div class="howto" id="library1">
			<h3>What is the Library?</h3>
			<p>The Library page displays the content that you have uploaded and any pre-loaded content that exists. On this page you can browse items by content categories, create a new lesson and drag content into it, edit content and upload content.</p>
			<img src="/static/images/help-guide/library.png" alt="Content Hub" class="imgBorder spaceImgBottom" />
		</div><!-- end howto library1 -->

		<div class="howto" id="library2">
			<h3>What is the difference between Preloaded and Uploaded content?</h3>
			<p>The Content Hub can include pre-loaded educational content, i.e. educational content loaded onto the Content Hub before it begins to be used by Teacher and Students. This content may be loaded onto the Content Hub by, for example, the equipment manufacturer or a Ministry of Education before it is shipped to the school or educational establishment in which it is being used.</p>
			<p>Uploaded content is content that you the teacher upload from files on your computer. These can be any type of file &ndash; Excel document, Word document, html, pdf, e-pub, video, image, etc.</p>
			<img src="/static/images/help-guide/preloaded-uploaded-tabs.png" alt="Content Hub" class="imgBorder spaceImgBottom" />
		</div><!-- end howto library2 -->

		<div class="howto" id="library3">
			<h3>How to edit content items</h3>

			<h4>Feature content</h4>
			<p>Click on the star button under any content you wish to feature. The colour of the star will change to yellow indicating it is now featured. This content should appear on the Home page under Featured Content. To unfeatured content simply click on the star button again. The star will return to its default colour of grey and the content item should disappear from the Featured Content area.</p>
			<img src="/static/images/help-guide/feature-content-items.png" alt="Content Hub" class="imgBorder spaceImgBottom" />
		</div><!-- end howto library3 -->

		<div class="howto" id="library4">
			<h4>Editing details of your Uploaded content</h4>
			<p><img src="/static/images/help-guide/uploaded-dropdown.png" alt="Content Hub" class="imgBorder spaceImgRight right" />Click on the options button at the end of the content item you wish to edit. Choose Edit Details from the dropdown menu. A pop-up will open in which you can edit the title, description, category and subcategories of the content item.</p>
			
		</div><!-- end howto library4 -->

		<div class="howto" id="library5">
			<h4>Delete your Uploaded content</h4>
			<p>You can delete content you have uploaded by selecting 'Delete This Item' from the content item's editing options dropdown menu. You cannot delete Preloaded content.</p>
		</div><!-- end howto library5 -->

		<div class="howto" id="library6">
			<h4>Add content to a lesson</h4>
			<p>Add content to a lesson by selecting 'Add To Lesson' from the content item's editing dropdown menu</p>
		</div><!-- end howto library6 -->

		<div class="howto" id="library7">
			<h4>Hide content from students</h4>
			<p>You can hide content from students by selecting 'Hide From Students' from the content item's editing dropdown menu. Students will no longer be able to see the content in their Library.</p>
		</div><!-- end howto library7 -->

		<div class="howto" id="library8">
			<h4>Download content</h4>
			<p>Download content by clicking on the download icon in the content item listing.</p>
			<img src="/static/images/help-guide/download-library-items.png" alt="Content Hub" class="imgBorder spaceImgBottom" />
		</div><!-- end howto library8 -->

		<div class="howto" id="library9">
			<h4>Batch delete</h4>
			<p>You can batch delete multiple content items and batch add multiple content items to lessons. To batch delete tick the checkbox of every content item you wish to delete. Then click on the  batch 'Delete' button at the top of the content listings.</p>
			<img src="/static/images/help-guide/library-items-batch-select.png" alt="Content Hub" class="imgBorder spaceImgBottom" />
		</div><!-- end howto library9 -->

		<div class="howto" id="library10">
			<h4>Batch add</h4>
			<p>To batch add multiple content items to lessons tick the checkbox of every content item you wish to add to a lesson. Click the 'Add To Lesson' button at the top of the content listings. A popup will open. Choose the lesson to which you are adding content from the dropdown menu and click the 'Add to lesson' button.</p>
			<img src="/static/images/help-guide/edit-lesson-title.png" alt="Content Hub" class="imgBorder spaceImgBottom" />
		</div><!-- end howto library10 -->

		<div class="howto" id="library11">
			<h3>How to create a Lesson</h3>
			<p>Click the button in the 'Create a New Lesson' box on the left of the screen.  A popup will open in which you will name your new lesson and click "create lesson".</p>
			<p>The 'Create a New Lesson' box should now have the name of your lesson as the title and will expand. You can now choose, drag and drop content from the Preloaded Content and My Uploaded Content listings on the right of the page into the box.</p>
			<img src="/static/images/help-guide/create-lesson-on-library-page.png" alt="Content Hub" class="imgBorder spaceImgBottom" />
		</div><!-- end howto library11 -->

		<div class="howto" id="library12">
			<h3>How to use categories as filters</h3>
			<p>Using the dropdown menus under Browse by Category on the left side of the screen, you can filter the list of content displayed by subject and any subcategories.</p>
			<img src="/static/images/help-guide/browse-by-category.png" alt="Content Hub" class="imgBorder spaceImgBottom" />
		</div><!-- end howto library12 -->

		<div class="howto" id="library13">
			<h3>What is the tag cloud and how do I use it?</h3>
			<p><img src="/static/images/help-guide/tag-cloud.png" alt="Content Hub" class="imgBorder spaceImgRight right imgSmall" />The tag cloud displays  a shortened list of tags that have been assigned to content items. Tags are descriptive words the Content Hub uses to make searching for content easier. Tags such as "science", "lab-exercise", "juniors" and "pdf" applied to content items will allow those content items to show up in searches for any of those terms.</p>
			<p>The more often a tag is applied to content, the larger the tag will display in the tag cloud. The tag cloud is any easy way to browse content by tags applied to that content and an easy way to see what type of tags are the most common in your content.</p>
			
		</div><!-- end howto library13 -->

<h2>Teacher Settings</h2>
		<div class="howto" id="settings1">
			<h3>How to manage categories</h3>
			<p>Click on the Manage button at the top right of the page. Choose Categories from the dropdown menu.</p>
			<p>Here you can add new categories and assign them to a parent category or add as a new separate one. You can edit or delete exisitng categories here also.</p>
			<img src="/static/images/help-guide/manage-categories.png" alt="Content Hub" class="imgBorder spaceImgBottom" />
		</div><!-- end howto settings1 -->

	<div class="howto" id="settings2">
			<h3>How to manage tags</h3>
			<p>Click on the Manage button at the top right of the page. Choose Tags from the dropdown menu.</p>
			<p>You can edit and delete exisiting tags. To create new tags you must use the upload content form, found in the library.</p>
			<img src="/static/images/help-guide/manage-tags.png" alt="Content Hub" class="imgBorder spaceImgBottom" />
		</div><!-- end howto settings2-->

<p><a href="#" class="scrollup">Back to Top</a></p>

	<script src="/static/js/jquery-1.11.1.min.js"></script>
	<script>
	$(document).ready(function () {
		$('.scrollup').click(function () {
			$("html, body").animate({
				scrollTop: 20 }, 500);  // 20 refers to pixels from top of screen - change to reflect size of header if you want to leap to top of TOC instead of top of page
			return false;
		});
	});
	</script>

        </section><!-- end uploadArea -->
    </div><!-- end single column -->
</section><!-- end mainContent row -->

</body>
</html>