{% load i18n %}
<!DOCTYPE html>
<html {% if rtl %}dir="rtl"{% endif %}>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
    <link rel="stylesheet" href="/static/js/jstree/themes/default/style.min.css">
    <link href="/static/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href="/static/stylesheets/branding.css" rel="stylesheet" type="text/css">

    <title>Content Hub</title>

    <style type="text/css">

    	.alpha-list{
    		list-style-type: lower-alpha;
    	}
    	.numeric-list{
    		list-style-type: decimal;
    	}
    	.alpha-list, .numeric-list{
    		margin:10px 0 15px;
    	}

    </style>

</head>
<body>

<section class="row mainContent">
    <div class="single col-l12">
        <section class="manageArea clearfix">



<h1>Terms of Use</h1>

<br />
<p>
Please read these Terms of Use ("Terms") carefully before using this Site. By accessing and using this Site, you acknowledge and agree to abide by the following Terms of Use. If you do not agree to these Terms, do not use the Site. Hereafter, all the materials covered by these Terms of Use will be referred to as the "Materials." This Site is for personal and non-commercial use. Unless otherwise specified or as provided in these Terms, you may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information, software, products or services obtained from the Materials. You agree that you will not use the Site or Material for any purpose that is unlawful or prohibited by these Terms of Use.
</p>


<p>
YOUR USE OF THE SITE AND MATERIALS IS AT YOUR SOLE RISK AND THAT THE SITE IS PROVIDED "AS IS" AND "AS AVAILABLE" WITHOUT ANY EXPRESS OR IMPLIED WARRANTY OF ANY KIND INCLUDING WARRANTIES OF MERCHANTABILITY, NONINFRINGEMENT OF INTELLECTUAL PROPERTY, OR FITNESS FOR ANY PARTICULAR PURPOSE.
</p>


<p>
<strong>Limitation of Liability:</strong> YOU EXPRESSLY UNDERSTAND AND AGREE THAT THE CONTENT PROVIDERS AND THEIR LICENSORS <strong>SHALL NOT BE LIABLE</strong> TO YOU FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, OR DATA, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF ANY SOFTWARE, DOCUMENTS, PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR INFORMATION AVAILABLE FROM THE SITE.
</p>





        </section>
    </div>
</section>

</body>
</html>