.lessonGrid{
  font-size:0;
}
.grid-xs-2.lessonGrid{
  width:100%;
  margin:0 0 20px;
}

.featuredLessons{
  margin:0 0 30px 0;
}

.icon-title-edit{
  display:inline-block;
  padding:5px;
  position:relative;
  z-index:100;
  text-decoration: none;
  cursor:pointer;
  top:-5px;
}

.lessonsPage .titleBar .editable-wrap{
  float:left;
}

.LessonItems {
  font-size: 0.875rem;
  width:50%;
  padding-top:20px!important;
  padding-bottom:20px!important;
  color: $brandMidBlue;
  text-align: center;
  position: relative;
  &:hover, &:active, &:focus{
    background:#f9f9f9;
  }
  .lessonName{
    // margin-top: 68px;
    display: block;
    width: 100%;
    margin: 0 auto 0;
    padding: 10px 0 0 ;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;    
    line-height:1.5;
    font-size: 0.8125rem;
    }
  a {
    color: $brandMidBlue;
    text-decoration: none;
    &:hover, &:focus, &:active{
      text-decoration:underline;
    }
  }
  .lessonIcon{
    margin: 0px auto 10px;
    span{
      font-size:56px;
    }
    &:hover, &:focus, &:active{
      color:$brandMidBlue;
      text-decoration:none;
    }
    &:visited{
      color:$brandDividerBlue;
    }
    &:after {
       content: ".";
       visibility: hidden;
       display: block;
       height: 0;
       clear: both;
    }
  }
  /*  Icons for manipulating listings */
  .listingIcons {
    position: relative;
    width: 126px;
    height: 24px;
    padding: 0;
    margin: 10px auto 0 auto!important;
    a {
      margin: 0;
      padding: 0;
      display:block;
      width:24px;
      height:24px;
      span{
        margin: auto;
        display: block;

      }
      &:hover{
        text-decoration:none;
        cursor:pointer;
      }
    }
    > li {
      float: left;
      margin: 0 10px 0 0;  // if you change this be sure to change the ul.listingIcons width!
      padding: 0;
      width:24px;
      height:24px;
      &:last-child {
        margin: 0;
      }
    }
    .fa-pencil, .fa-plus{
      color:$brandLighterGray;
      font-size:1.25rem;
      &:hover{
        color:$brandLightGray;
      }
      &:active, &:focus{
        color:$brandGray;
      }
    }
    .feature{
      color:$brandLighterGray;
      font-size:1.25rem;
      &:hover{
        color:$brandYellow;
      }
      &:active, &:focus{
        color:$brandOrange;
      }
      &.on{
        color:$brandYellow;
      }
      &.on:hover{
        color:$brandOrange;
      }
      &.on:active, &.on:focus{
        color:#d29401
      }
    }
    input[type="checkbox"]{
      margin-top:3px;
    }
  }
}

html[dir=rtl] .LessonItems .listingIcons > li{
  float:right;
  &:first-child {
    margin: 0;
  }
  &:last-child {
    margin: 0 10px 0 0;
  }
}

.checkedLesson{
  background:$veryLightBlue;
  &:hover{
    background:#e1f7ff;
  }
}

  .createLessonForm{
    max-width:500px;
    margin:30px auto 75px auto;
    border-radius:3px;
    border:1px solid #C2C6C9;
    padding:30px;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    .errorlist{
        color: $brandRed;
        display:block;
        line-height:1;
        margin:0 0 15px;
    }
    input[type="text"]{
      margin-bottom:5px;
    }
    input[type="button"] {
      background-color: #ebebeb;
      color: $brandLightGray!important;
      border: 1px solid #b3afaf;
      padding:7px 20px;
      margin-top:10px;
      -webkit-box-shadow: 0px 1px 1px #d7d7d7;
      -moz-box-shadow: 0px 1px 1px #d7d7d7;
      box-shadow: 0px 1px 1px #d7d7d7;
    &:hover, &:active{
      background:#fff;
    &:active, &:focus{
      -webkit-box-shadow:inset 0 1px 6px 0 rgba(0,0,0,.2);
      box-shadow:inset 0 1px 6px 0 rgba(0,0,0,.2);
    }
    }
    }
  }

  .noHover{
    color: $brandOrange!important;
  }

  .create_tile_list{
    input[type="text"]{
      margin-bottom:5px;
    }
    input[type="button"] {
      background-color: #ebebeb;
      color: $brandLightGray!important;
      border: 1px solid #b3afaf;
      padding:7px 20px;
      margin-top:10px;
      -webkit-box-shadow: 0px 1px 1px #d7d7d7;
      -moz-box-shadow: 0px 1px 1px #d7d7d7;
      box-shadow: 0px 1px 1px #d7d7d7;
    &:hover, &:active{
      background:#fff;
    &:active, &:focus{
      -webkit-box-shadow:inset 0 1px 6px 0 rgba(0,0,0,.2);
      box-shadow:inset 0 1px 6px 0 rgba(0,0,0,.2);
    }
    }
    }
  }

.lessonDetail .defaultMouse{    
    &:hover, &:focus, &:active{
      cursor:default!important;
    }
    .fa-eye, .fa-eye:hover, .fa-eye:focus, .fa-eye:active{
      color:$brandLighterGray!important;
    }
  }  

/* -----------------------------
    BATCH SELECT BUTTONS
----------------------------- */

.lessonsPage .singleLine li{
  margin-left:30px;
}

.batchBtn{
  color:$brandGray;
  text-decoration:none;
  cursor:pointer;
  margin:0;
  &:hover, &:active, &:focus{
  color:$brandGray;
    text-decoration:underline;
  }
  span, i{
    margin:0 5px 0 0;
    font-size:0.875rem;
    position:relative;
    top:1px;
  }
  span{
	display:inline-block;
  }
}
html[dir=rtl] .batchBtn{
  margin:0 10px 0 0;

}

.batchDelete span, .delete span, .batchDelete i, .delete i{
  color:$brandRed;
  margin:0 5px 0 0;
  font-size: 0.875rem;
}

.batchCreate span{
  // color:$brandDividerBlue;
}

.batchAdd span, .batchAdd i{
  color:$brandDividerBlue;
  margin:0 5px 0 0;
  font-size: 0.875rem;
}



  .editable-wrap{
  .editable-controls{
    margin:0 auto;
    input[type="text"]{
      padding:4px;
      width:65%;
      font-size:0.75rem;
      float:left;
    }
    .editable-buttons{
      float:right;
      width:35%;
      button{
        margin:0 0 0 6%;
        height:24px;
        width:44%;
        padding:0;
        font-size:0.75rem;
        float:left;
        &[type="button"] {
          display: block;
          background-color: #ebebeb;
          color: $brandGray;
          border-radius: 1px;
          border: 1px solid #b3afaf;
          text-decoration:none;
          -webkit-box-shadow: 0px 1px 1px #d7d7d7;
          -moz-box-shadow: 0px 1px 1px #d7d7d7;
          box-shadow: 0px 1px 1px #d7d7d7;
        &:hover, &:active{
          background:#fff;
        &:active, &:focus{
          -webkit-box-shadow:inset 0 1px 6px 0 rgba(0,0,0,.2);
          box-shadow:inset 0 1px 6px 0 rgba(0,0,0,.2);
        }
        }
        }
      }
    }
  }
}

html[dir=rtl] .editable-wrap{
  input[type="text"]{
    float:right;
  }
  .editable-buttons{
    float:left;
    button{
      margin:0 6% 0 0;
    }
  }
}
