{% load i18n %}
<section class="row mainContent" ng-cloak>

<style>
    .multi-filename{
        margin-right:10px;
        font-size: 1rem;
        color: #53565a;
    }
    .process_info_column {
        float:left;
        margin-right:20px;
        width: 120px;
    }
    .fileDetails
    {
        width:100% !important;
    }
    .uploadArea{
        max-width: 600px !important;
        margin: 40px auto !important;
    }

</style>

    <!--UPLOAD AREA -->
    <div class="single col-l12">
        <section class="uploadArea clearfix">   

            <div class="clearfix">
                <h1 class="left">{% trans "Upload Content" %}</h1>
            </div>
            <form id="chooseFile" name="uploadForm" enctype="multipart/form-data" novalidate="true">
                <div ng-if="!editing" class="uploadFileInfo">
                    <input type="file" ng-file-select="onFileSelect($files)" accept="application/zip" multiple ng-click="clearFileSelection($event)">
                </div>
                <p ng-if="fileErrors.length > 0" ng-repeat="file_error in fileErrors" class="errorlist">
                    {$ file_error $}
                </p>
            <!-- Multiple file upload rename -->
            <div ng-repeat="file in file_title_mapping" class="multiFileUpload clearfix">
                <ng-form id="addFiles" name="addFiles" enctype="multipart/form-data" novalidate="true">                    
                    <div class="fileDetails">
                        <div class="multi-filename">{$ file.filename $}</div>
                            <div class="process_info_column upload_status">Uploaded: {$ file.upload_status $}</div>
                            <div class="process_info_column zip_status">Unzipping: {$ file.zip_status $}</div>
                            <div class="process_info_column import_status">Importing: {$ file.import_status $}</div>
                    </div><!-- /.file details -->
                    <div class="uploadcomplete-{$ file.uploaded $}"><img src="../static/images/ajax_loader_blue_32.gif"><span class="fa fa-times"></span></div>
                </ng-form>
            </div>

                <input type="submit" value="{% trans "Upload" %}" class="margin-top-20 brandBtnColor" ng-click="save(content, uploadForm)" ng-disabled="uploadForm.$invalid || uploadForm.$pristine || actual_files.length === 0 || working">
            </form>
        </section>
        <!-- end uploadArea -->
    </div>
    <!-- end single column -->
</section>
