/* ------------------------
      BROWSE DRAWER
------------------------- */


/* ------------------------
      SINGLE COLUMN PAGE
------------------------- */
.uploadArea {
  width: 50%;
  margin: 0 auto;
  padding: 0 0 20px 0;
}
// .contentListing {
//   width: 90%;
// }

.listing {

}

.listingInfo {
 p.added {
  max-width: 50%;
  float: left;
  padding: 0;
  margin: 0;
    }
}