// Submit button
button[type="submit"], input[type="submit"], input[type="button"], .ui-dialog-buttonpane .ui-dialog-buttonset button.ui-button, .mainButton{

	background-image:none;
	border: 0;
	padding: 8px 20px;
	line-height:1;
	text-decoration: none;
	-webkit-border-radius: 1px;
	cursor:pointer;
	-moz-border-radius: 1px;
	border-radius: 1px;
	color: #fff!important;
    font-size: 0.75rem; // 12px
    @include buttonShadow();
    &:active{
		-webkit-box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.3);
		box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.3);
    }
    &:active, &:hover {
	text-decoration:none!important;
    a {
		color: #fff;
		text-decoration: none;
		&:hover, &:focus, &:active {
			color: #fff;
		}
		&:active, &:focus{
			-webkit-box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.3);
			box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.3);
		}
    }
}
}

button[disabled=disabled], button:disabled, select[disabled=disabled], select:disabled, input[disabled=disabled], input:disabled{
    opacity:0.3;
    cursor:default;
}

.disabled{
	opacity:0.3!important;
	cursor:default;
}

.mainButton {
	padding: 8px 20px !important;
}
.sideMenu input[type="submit"]{
	padding:8px 10px;
}

// Choose file button from teacher's Upload Content area
.uploadFileInfo button {
	background-color: #f6f6f6;
	border: 0;
	padding: 5px 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: $brandLightGray;
	font-family: $primaryFont;
	@include font-size(1.4);
    font-size: 0.875rem; // 14px
    border: 1px solid #d3d2d2;
    -webkit-box-shadow: inset 0px 2px 0px #ffffff;
	-moz-box-shadow: inset 0px 2px 0px #ffffff;
	box-shadow: inset 0px 2px 0px #ffffff;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	&:active, &:focus {
		background-color: $brandLightestGray;
		color: $brandGray;
		-webkit-box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);
		box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);
	}
	a {
		color: $brandLightGray;
		text-decoration: none;
		&:hover {
			color: $brandLightGray;
		}
	}
}



.simpleFade, ul.tabsNavBelow li a, input, select, textarea, button, button[type="submit"], input[type="submit"], .ui-dialog-buttonpane .ui-dialog-buttonset button.ui-button, .mainButton, .pagination a,{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
