 .breadCrumbs {
    margin: 0 0 5px 0;
    padding: 0;
    height:20px;
     @include font-size(1.2);
    font-size:  0.75rem; //12px
    line-height: 14px;
    color: #b1babf;
  a {
    color: #b1babf;
    text-decoration: underline;
    font-size: 0.6875rem; //11px
    &:hover, &:active{
      color:$brandGray;
    }
  }
  li {
    display: inline-block;
    font-size: 0.6875rem; //11px
    + li:before {
      content: "#{$breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
    }
  }
  > .active { }
  }